html{
margin:0px;
width:100%;
height: 100%;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
background: rgb(38, 38, 38);
}

canvas{
    background-color: aliceblue;
    position: absolute;


}

canvas#canvas2{
    background-color: hsla(0, 0%, 100%, 0);
}

div.center{
    display: flex;
    flex-direction: column;
    position: relative;
}
